.grupo-root{
    padding: 1em 0em;
}

.grupo-root p,
.grupo-root span,
.grupo-root button
{
    font-size: small;
}

.grupo-container{
    display: flex;
    width: 100%;
    border: 1px solid var(--ice);
    box-shadow: 1px 1px 2px 2px var(--ice);
}

.grupo-container:hover{
    box-shadow: 3px 3px 4px 4px var(--ice);
}

.grupo-informations{
    display: block;
}


.grupo-options hr{
    border-color: var(--fonte-3);
}

.grupo-informations{
    margin: 1em 1em 0em 0em;
    width: 100%;
}

.grupo-image{
    margin-right: 1rem;
    max-width: 30%;
    display: flex;
}

.grupo-descricao{
    margin-top: 1rem;
}
.grupo-category {
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.2rem;
    color: #fff;
    font-size: medium;
    font-weight: 600;
    line-height: 1.5;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
}

.grupo-category img {
    height: 15px;
    margin-left: 5px;
    width: 15px;
}

.grupo-options{
    display: block;
    position: relative;
    bottom: 0rem
}

.grupo-options .btn{
    margin: .25rem .25rem .25rem .25rem;
}
.grupo-options button{
    font-size: small;
}
.grupo-options img{
    width: 1rem;
}

.btn-entrar, 
.mais-grupos-button{
    background-color: var(--verde-1);
    border-color: var(--verde-1);
    color: var(--white);
}

.btn-entrar:hover, 
.btn-entrar:active, 
.btn-entrar:focus, 
.btn-entrar:active:focus, 
.mais-grupos-button:hover,
.mais-grupos-button:active,
.mais-grupos-button:active:focus,
.mais-grupos-button:focus{
    background-color: var(--verde-2);
    border-color: var(--verde-2);
    box-shadow: var(--verde-shadow-2);
    color: var(--white);
}


.btn-facebook{
    background-color: var(--facebook);
    color: var(--white)
}

.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:active:focus,
.btn-facebook:focus{
    background-color: var(--facebook);
    box-shadow: var(--verde-shadow-2);
    color: var(--white)
}

.btn-whatsapp{
    background-color: var(--whatsapp);
    border-color: var(--whatsapp);
    color: var(--white)
}

.btn-whatsapp:hover,
.btn-whatsapp:active,
.btn-whatsapp:active:focus,
.btn-whatsapp:focus{
    background-color: var(--whatsapp);
    border-color: var(--whatsapp);
    box-shadow: var(--verde-shadow-2);
    color: var(--white)
}

.btn-telegram{
    background-color: var(--telegram);
    color: var(--white);
    border-color: var(--telegram);
}

.btn-telegram:hover,
.btn-telegram:active,
.btn-telegram:active:focus,
.btn-telegram:focus{
    background-color: var(--telegram);
    border-color: var(--telegram);
    box-shadow: var(--verde-shadow-2);
    color: var(--white)
}

.btn-share{
    background-color: var(--verde-1);
    color: var(--white);
    border-color: var(--verde-1);
}

.btn-share:hover,
.btn-share:active,
.btn-share:active:focus,
.btn-share:focus{
    background-color: var(--verde-2);
    border-color: var(--verde-2);
    box-shadow: var(--verde-shadow-2);
    color: var(--white)
}

.img-thumbnail{
    padding: 0;
    margin: auto 0; 
    vertical-align: middle;
    border-radius: 0rem;
}
