
.footery{
    width: 100%;
    background-color: #292929;
    color: #dedede
}
.foot-categorias{
    list-style-type: none;
    margin-block-start:0px;
    padding-inline-start:10px;
}
ul[class="foot-categorias"] li a, ul[class="foot-categorias"] li a:hover, .foot-contato{
    text-decoration: none;
    color: #dedede
}
ul[class="foot-categorias"] li a:hover{
    text-decoration: underline
}
